body {
    margin: 0;
    padding: 0;

}
/** {*/
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
/*}*/

table{
    margin-bottom: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0.9%;
}

.page {
    width: 66.389em;
    min-height: 70.42em;
    max-height: 110em;
    padding: 4.742em;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
hr{
    color:black;
    border-top: 1px solid #000; !important;
    border-bottom: 1px solid #000 !important;
}
.border_b{
    border-bottom: 1px solid black;
    width: 42em;
}
.letterhead{
font-size:2em ;
    font-family: "Adobe Garamond Pro";


}
.subpage {

    padding: 1em 1em 0 1em;
    /*border: 3px red solid;*/
    min-height: 100%;
    max-height: 155%;
    outline: 2cm #dcf7ff solid;
    font-size: .7em;
}

@page {
    size: A4;
    margin: 0;

}
@media print {
    .page {
        margin-left: 4em;
        padding-left: 4em;
        border: initial;
        border-radius: initial;
        width: 49.7923em;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;

    }
    @page {
        size: A4;
        margin: 0;

    }
    .subpage {
        outline: none;
        padding-left: 7.11em;
        margin-right: 0;
        border: none;
    }
    table.table.table-striped td, table.table.table-striped th, table.table {
        border: 1px solid #000;
        font-size: .2em;
    }


}