<br/><hr/><ul>
	<li>date time 2016-Nov-26 21:30:11</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Division by zero</li>
	<li>request url: /exam/singlecombined/227?rank=4&exam=1_4_5</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/exam/singlecombined.php</li>
	<li>Line no: 306</li>
	<li>Error user agent: Chrome 54.0.2840.99</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-26 21:31:48</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>request url: /subject/edit/16/3</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/controllers/subject.php</li>
	<li>Line no: 209</li>
	<li>Error user agent: Chrome 54.0.2840.99</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 08:27:35</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Illegal string offset 'server'</li>
	<li>request url: /notice/view/15</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/main/database/drivers/postgre/postgre_driver.php</li>
	<li>Line no: 331</li>
	<li>Error user agent: Safari 534.30</li>
	<li>From which Computer Platform: Linux</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 09:18:18</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Illegal string offset 'server'</li>
	<li>request url: /notice/view/18</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/main/database/drivers/postgre/postgre_driver.php</li>
	<li>Line no: 331</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 09:29:11</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Cannot modify header information - headers already sent by (output started at /srv/disk1/896128/www/demo.shulesoft.com/app/libraries/dompdf/lib/class.pdf.php:3080)</li>
	<li>request url: /mark/print_preview/502/6</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/main/core/Common.php</li>
	<li>Line no: 441</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 09:37:14</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 56</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 09:37:14</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 09:37:14</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 09:38:40</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 56</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 09:38:40</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 09:38:40</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 09:42:10</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 56</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 09:42:10</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 09:42:10</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 11:10:23</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 56</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 11:10:23</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 11:10:23</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 15:58:01</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 56</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 15:58:01</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 15:58:01</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 16:09:29</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 56</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 16:09:29</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 16:09:29</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 16:17:57</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 56</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 16:17:57</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 16:17:57</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 16:18:48</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 56</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 16:18:48</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: sections</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

<br/><hr/><ul>
	<li>date time 2016-Nov-27 16:18:48</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>request url: /mark/add</li>
	<li>File name: /srv/disk1/896128/www/demo.shulesoft.com/app/views/mark/add.php</li>
	<li>Line no: 57</li>
	<li>Error user agent: Chrome 52.0.0.11700</li>
	<li>From which Computer Platform: Unknown Windows OS</li>
	<li>Error from which username: p9.runhosting.com</li>
</ul>

